BODY {
  color : #000;  /* 文字色 */
  background-color : #FFF;  /* 背景色 */
  font-size : 12px;  /* 文字の大きさ */
  font-family : Verdana,Osaka,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","MS UI Gothic",serif;
/* スクロールバーの設定 */
  scrollbar-face-color:#FFF;  scrollbar-highlight-color:#000;
  scrollbar-shadow-color:#000;  scrollbar-darkshadow-color: #000;
  scrollbar-arrow-color:#000;  scrollbar-track-color:#FFF;
}

#left {
    margin: 10px 0px 10px 10px;
}
#main {
    margin: 10px 0px 10px 0px;
    padding: 10px 10px 10px 20px;
}

/* ---横幅の設定ここから--- */

@media only screen and (min-width:1000px) {

  body {
    width: 1000px;
    margin: auto;
    padding: auto;
  }

}
@media only screen and (max-width:1000px) {

  body {
    margin: auto;
    padding: auto;
  }

}

/* ---横幅の設定ここまで--- */



/* リンクの設定 */
A {
  color : #009999;  /* 文字色 */
  font-family : Verdana,Osaka,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","MS UI Gothic",serif;
  text-decoration : none;
}
/* リンクにマウスが乗ったときの色 */
A:HOVER{
  color : #ccc;  /* 文字色 */
}

#sitename{
  font-weight : bold; font-size: 26px;
}
/* シナリオ */
#sinario{}
#sinario A {
  color : #009999;  /* 文字色 */
  font-size : 16px;
  font-family : Verdana,Osaka,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","MS UI Gothic",serif;
  text-decoration : none;
}
#sinario A:HOVER{
  color : #ccc;  /* 文字色 */
  font-size : 16px;
}

#text{
border: 1px solid #999;
padding:10px;
margin:0px;
}

#memo{
border: 1px solid #999;
border-top-left-radius: 10px;
border-bottom-right-radius: 10px;
padding:10px;
margin:0px;
}

/* メニュー部分の設定 */
#menu{
text-align:left;
list-style:none;
line-height:1.6em;
height:100%;
}

#menu li a{
display:block;
color:#FFF;
background-color:#009999;
margin:5px 0px;
padding:12px 10px 8px 20px;
}

#menu li a:hover{
display:block;
color:#FFF;
background-color:#44cccc;
margin:5px 0px;
padding:12px 10px 8px 20px;
}