
/* �S�̂̐ݒ� */
body,td,th{
font-size:14px;
color:#666;
font-family:Verdana,Osaka,'MS P Gothic';
font-weight:normal;
margin:0px;
padding:0px;
}

/* �X�N���[���o�[�̐ݒ� */
body,html{ 
  scrollbar-face-color:#FFF;  scrollbar-highlight-color:#000;
  scrollbar-shadow-color:#000;  scrollbar-darkshadow-color: #000;
  scrollbar-arrow-color:#000;  scrollbar-track-color:#FFF;
}

/* �����N�ݒ� */ 
a:link{text-decoration:none;color:#66aaaa;}/* �����N�ɐG���O�̐F */ 
a:visited{text-decoration:none; color:#66aaaa;}/* �K�₵�����Ƃ̂��郊���N�̐F */ 
a:hover{text-decoration:none;color:#cccccc;}/* �G�ꂽ���̃����N�ݒ� */ 

/* ���X�g�ݒ� */ 
ul,ol{
list-style-position:inside;
margin:0px 0px 0px 15px;
} 

/* �摜�̃{�[�_�[�����炩���߂O�ɂ��� */
img{border:none;}

/* �t�H�[���֘A�̐ݒ� */
textarea{
font-size:11px;
line-height:17px;
padding:5px;
}
textarea,input{
color:#666;
border:1px solid #aaa;
background-color:#FFF;
}

/* �����pbox */
.box1{
border:2px solid #66aaaa;
background-color:#FFF;
}
.box2{
background-color:#eeeedd;
}
.box3{
background-color:#eeeeee;
}
.box4{
border:1px solid #66aaaa;
background-color:#FFF;
}
.box1,.box2,.box3,.box4{margin:5px 5px 5px 10px;padding:5px;}

/* �f�U�C���S�ʐݒ� */
.ta1{border-left:17px solid #eeeeee;border-right:17px solid #eeeeee;}
.back{
text-align:right;
border-top:1px solid #cccccc;
margin:20px 5px;
padding:2px 5px;
}

/* ���o���ݒ� */
h1{
font-size:16px;
font-weight:nomal;
color:#000000;
margin:0px;
padding:5px 0px 2px 0px;
}
h1:first-letter{color:#66aaaa;}
h2{
font-size:16px;
color:#666;
border-top:1px solid #cccccc;
border-bottom:2px solid #cccccc;
margin:25px 20px 0px 10px;
padding:4px 8px;
}
h3{
font-size:14px;
font-weight:nomal;
color:#FFF;
letter-spacing:2px;
border-right:15px double #5f9ea0;
background-color:#5f9ea0;
width:270px;
margin:5px 0px 5px 0px;
padding:6px 10px;
}
k{
font-weight:normal;
background-color:#eeeeee;
}
m{
font-weight:normal;
color:#448888;
}

/* ���j���[�����̐ݒ� */
#menu{
text-align:left;
}
#menu ul{
list-style:none;
margin:40px 0px 0px 15px;
padding:0px;
}
#menu li{
display:inline;
}
#menu li a{
display:block;
color:#666;
background-color:#eeeeee;
margin:5px 0px;
padding:2px 10px 0px 20px;
}
#menu li a:hover{
color:#FFF;
}

/* �e�L�X�g�ݒ� */
.text1{
line-height:20px;
padding:10px 30px 30px 25px;
}
.text2{
font-size:90%;
color:#999999;
line-height:17px;
padding:5px 15px 10px 10px;
}

/* mainta */
#waku{
color:#666;
text-align : left;
background-color:#FFF;
border:2px solid #eee;
box-shadow:0 0 0 4px #FFF;
padding:10px 15px;
margin:5px 10px;
}
 
/* �����N�y�[�W�̐ݒ� */ 
dl.banner{margin:0px 0px 15px 0px;}
dl.banner dt{float:left;margin:0px 5px 0px 0px;}
dl.banner dd{margin:-2px 0px 0px 0px;}

/* ���̑��v�f */ 
em{font-style:normal;font-weight:bold;}
strong{color:#cc0000;background-color:#ffcccc;}
ins{text-decoration:none;border-bottom:1px solid #ffaaaa;}
del{text-decoration:line-through;}

