@charset "UTF-8";
/* 文字色 */
body {
  --main: #333;
  --sub: #666;
  --title: #000;
  --link-hover: #aaa;
  --bg0: #FFF;
  --bg1: #f4f4f4;
  --bg2: #eee;
  --bg3: #fafafa;
  --border1: #aaa;
  --border2: #FFF;
  --border3: #ccc;
}

html {
	scroll-behavior: smooth;
}

/* 全体の設定 */
body,td,th{
font-size:14px;
color: var(--main);
font-weight:normal;
line-height:1.6em;
margin:0px;
padding:0px;
background-color : #FFF;
}

ul,li {
	margin:0;
	padding:0;
	list-style: none;
	}

/* リンクの設定 */
a {text-decoration:none;}
a:link{text-decoration:underline; color:var(--main);}
a:visited{text-decoration:none; color:var(--main);}
a:hover{text-decoration:none; color : var(--sub);}

/* リスト設定  */
ul,ol{
list-style-position:inside;
} 

/* 画像のボーダーをあらかじめ0にする */
img{
	max-width: 100%;
	border:none;
}
img.w40{
	max-width: 40%;
	padding: 5px;
}

/* フォーム関連の設定 */
textarea{
font-size:11px;
line-height:17px;
padding:5px;
}
textarea,input{
color: var(--main);
border:1px solid #aaa;
background-color:#FFF;
}

.tab1,td{
font-size:12px;
border:1px solid #aaa;
}

/* デザイン全般設定 */
.ta1{
	border-left:17px solid #eee;
	border-right:17px solid #eee;
}

.back{
text-align:right;
border-top:1px solid #cccccc;
margin:20px 5px;
padding:2px 5px;
}

span.skill {
	background-color: #aaa;
	color: var(--bg0);
	display: inline-block;
	letter-spacing: 2px;
	margin:0.8% 0.5% 0.8% 0;
	padding:0.5% 0.8%;
}

/* 見出し設定 */
header h1 {
font-size:14px;
font-weight:nomal;
color:#333336;
margin:5px 0 -10px 0;
}
header h1:first-letter {color:#333336;}

/* 見出し設定 */
h1, h2, h3, h4 {
	color: var(--sub);
}
h1, h3, h4 {
margin: 0 -5px 15px;
}

h1.center {
	font-size: 20px;
	border-top: 1px solid var(--bg0);
	border-bottom: 2px solid var(--bg0);
	margin: 10px 0;
}

h1 {
font-size: 16px;
border-top: 1px solid var(--border3);
border-bottom: 2px solid var(--border3);
padding: 4px 8px;
}

h2 {
font-size: 16px;
border-left: solid 3px var(--sub);
border-bottom: solid 3px var(--bg1);
padding: 4px 8px;
margin: 15px -5px;
}
h2.bk {
	background: var(--bg3);
}

h3 {
font-size: 14px;
padding: 5px;
}

h3:before {
content: "▶︎";
color: var(--border3);
margin: 0 5px 0 0;
}

h4 {
border-right: 15px double var(--border3);
background-color: var(--bg0);
padding: 6px 10px;
width: 270px;
-webkit-box-shadow: 1px 1px 3px var(--sub);
		box-shadow: 1px 1px 3px var(--sub);
}

/* 装飾用box */
.box1 {
background-color: var(--bg1);
}

.box2 {
background-color: #f1f7fc;
}

.box3 {
background-color: var(--bg0);
border: solid 1px var(--bg1);
}

.box1, .box2, .box3, .box4 {
padding: 10px 15px;
margin: 5px 0;
}

/* 装飾boxのタグ */
.tg, .tips, .dep {
position: relative;
margin: 1.4rem 0 0;
}

.tg:after, .tips:after, .dep:after {
position: absolute;
font-weight: 900;
background: var(--sub);
color: var(--bg0);
left: 0px;
bottom: 100%;
border-radius: 5px 5px 0 0;
padding: 5px 7px 3px;
font-size: 0.7em;
line-height: 1;
letter-spacing: 0.05em;
}

.dep:after {
content: '描写例';
}
.tg:after {
content: 'KP向け補足';
}
.tips:after {
content: '情報';
}

/* 装飾boxの角を丸める */
.rd {
border-radius: 10px;
}

k{
font-weight:normal;
background-color:#eee;
}

.mark{
background-color:#eee;
display:inline;
}

m{
font-weight:normal;
color:#448888;
}

/* メニュー部分の設定 */
details{
	margin: 0 0 0 5px;
	}
	.menu li{
	color: var(--main);
	}
	
.menu li a{
color: var(--main);
background-color:#eee;
padding: 0 5px;
}
.menu li a:link{text-decoration:none;}
	
.menu li a:hover{
color:#aaa;
background-color:#f4f4f4;
}

.menu li:last-child{
text-align: right;
}
.menu li.left a{
	text-align: left;
	}

ul .sub li a{
	margin-left: 5px;
	padding-left: 20px;
} 

ul.sub li a:hover{
	padding-left: 20px;
	} 

.sub li:last-child{
	text-align: left;
	}


@media screen and (min-width:540px) {
/* 540px以上 */
}

@media screen and (max-width:540px) {

}

/* テキスト設定 */
.text{
 padding:5px 10px;
}
.text1{
}
.text2{
font-size:90%;
color:#999999;
line-height:17px;
padding:5px 15px 10px 10px;
}
.text3{
	border: solid 1px #000;
	padding: 10px;
}

.linenone td{
	border: solid 0px #FFF;
}

#waku{
text-align : left;
background-color:#FFF;
border:1px solid #aaa;
border-top-left-radius: 20px; 
border-bottom-right-radius: 20px;
box-shadow:0 0 0 4px #FFF;
padding:20px;
max-width:680px;
margin: 0 auto;
}

/* 吹き出し */
#fu {
	position: relative;
	display: inline-block;
	padding: 10 15px;
	width: auto;
	min-width: 120px;
	color: #000;
	text-align: center;
	background: #ddd;
	z-index: 0;
}
#fu:after {
	content: "";
	position: absolute;
	top: 50%; left: -20px;
	margin-top: -10px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 20px 10px 0;
	border-color: transparent #ddd transparent transparent;
}

.dash{
	text-align:center;
	border-top: 1px dashed #8c8c8c;
	border-bottom: 1px dashed #8c8c8c;
	margin:10px 15px;
	padding:20px 0;
}

hr.dashline{
	text-align:center;
	border: none;
	border-top: 1px dashed #8c8c8c;
	margin:10px 15px;
}

.history{
	font-size:8px;
	text-align:right;
	padding:20px 0;
}

.center {
	text-align: center;
  }
  
  .left {
	text-align: left;
  }
  
  .right {
	text-align: right;
  }
  
  .small {
	font-size: 8px;
	line-height: 1.6em;
  }

/* 上へスクロール */

#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #333;
  opacity: 0.6;
}

#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}

#page_top a:hover{
  background: #aaa;
  opacity: 0.8;
}

#page_top a::before{
  content: '▲';
  font-size: 20px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

/* ふりがなON/OFF */
.toggle_input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	opacity: 0;
	cursor: pointer;
	}
	.toggle_label {
	width: 63px;
	height: 30px;
	background: #fff;
	border: 2px solid #eee;
	position: relative;
	display: inline-block;
	border-radius: 30px;
	transition: 0.4s;
	box-sizing: border-box;
	}
	.toggle_label:after {
	text-align: center;
	content: "OFF";
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 100%;
	left: 1px;
	top: 1px;
	z-index: 2;
	background: #eee;
	transition: 0.4s;
	}
	.toggle_input:checked + .toggle_label {
	border: 2px solid #4BD865;
	}
	.toggle_input:checked + .toggle_label:after {
	content: "ON";
	color: #FFF;
	left: 34px;
	background: #4BD865;
	}
	.toggle_button {
	position: relative;
	text-align: right;
	font-size: 50%;
	margin: auto 5px;
	}
	.toggle_button::before {
	content: "コピペ時ふりがな";
	}

	/*ライセンス表示*/
.licence {
	font-size: 9px;
	color: #000;
	text-align: left;
	top: 0;
	border-style: solid;
	margin: 0 0 50px 0;
	padding: 10px;
}
.licence:before {
	white-space: pre-wrap;
	content:"本作は、「株式会社アークライト」及び「株式会社KADOKAWA」が権利を有する『クトゥルフ神話TRPG』シリーズの二次創作物です。\A"
	"Call of Cthulhu is copyright ©1981, 2015, 2019 by Chaosium Inc. ;all rights reserved. Arranged by Arclight Inc.\A"
	"Call of Cthulhu is a registered trademark of Chaosium Inc.\A"
	"PUBLISHED BY KADOKAWA CORPORATION　「クトゥルフ神話TRPG」「新クトゥルフ神話TRPG」\A";
}

/* ルビ */
.rubyoff rt,.rubyon rt{ display: none }